Source: libpam-ecafe
Section: admin
Priority: extra
Maintainer: Guillaume Viguier-Just <guillaume@viguierjust.com>
Build-Depends: debhelper (>= 7), autotools-dev, libpam0g-dev (>= 1.0.1), libdbus-glib-1-dev
Standards-Version: 3.8.0
Homepage: http://www.github.com/guillaumev

Package: libpam-ecafe
Architecture: any
Depends: ${shlibs:Depends}
Description: Pluggable Authentication Module for ECafe
 This package provides an interface between the ECafe daemon and the
 PAM user authentication system. It allows users to login to a client
 machine with either a timecode or a customer account.
